@page "/gps"
@using System.Text.Json

<h3>Gps</h3>
<p>
    Qui sotto puoi leggere le tue attuali coordinate GPS.<br />
    Ricorda che sono espresse come latitudine e longitudine con sistema
    di riferimento WGS84.
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Lat</th>
                <th>Lng</th>
                <th>Alt</th>
                <th>C&deg;</th>
                <th>Hum. %</th>
                <th>Wind kmh</th>
                <th>Wind &deg;</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Previsione singola in storico)
            {
                <tr>
                    <td>@singola.Lat.ToString("N5")</td>
                    <td>@singola.Lng.ToString("N5")</td>
                    <td>@singola.elevation</td>
                    <td>@singola.current?.temperature_2m</td>
                    <td>@singola.current?.relative_humidity_2m</td>
                    <td>@singola.current?.wind_speed_10m</td>
                    <td>@singola.current?.wind_direction_10m</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="btn btn-success w-100" @onclick="Aggiorna">Aggiorna</div>

@code {
    // la nostra posizione
    private List<Previsione> storico = new List<Previsione>();

    private async void Aggiorna()
    {
        Location? dove = await Geolocation.Default.GetLastKnownLocationAsync();
        if(dove != null)
        {
            Previsione? meteo = await DammiMeteo(dove);
            if (meteo == null)
                meteo = new Previsione();
            meteo.Lat = dove.Latitude;
            meteo.Lng = dove.Longitude;
            meteo.Speed = dove.Speed;
            meteo.Accuracy = dove.Accuracy;

            storico.Add(meteo);

            StateHasChanged();
        }
    }

    private async Task<Previsione?> DammiMeteo(Location posizione)
    {
        string dotLat = posizione.Latitude.ToString().Replace(',', '.');
        string dotLng = posizione.Longitude.ToString().Replace(',', '.');
        string url = "https://api.open-meteo.com/v1/forecast?" +
                    $"latitude={dotLat}&" +
                    $"longitude={dotLng}&" +
                    "current=temperature_2m,relative_humidity_2m,wind_speed_10m,wind_direction_10m,weather_code,precipitation";
        HttpClient client = new HttpClient();
        HttpResponseMessage risposta = await client.GetAsync(url);
        if (risposta.IsSuccessStatusCode)
        {
            string previsioni = await risposta.Content.ReadAsStringAsync();
            return JsonSerializer.Deserialize<Previsione>(previsioni);
        }
        return null;
    }

    public class Previsione
    {
        public DateTime Quando { get; set; } = DateTime.Now;
        public double Lat { get; set; }
        public double Lng { get; set; }
        public double? Accuracy { get; set; }
        public double? Speed { get; set; }
        public float elevation { get; set; }
        public Current? current { get; set; }
    }

    public class Current
    {
        public float temperature_2m { get; set; }
        public float relative_humidity_2m { get; set; }
        public float wind_speed_10m { get; set; }
        public float wind_direction_10m { get; set; }
        public int weather_code { get; set; }
        public float precipitation { get; set; }
    }

}
